header {
    text-align: center;
}
#searchQuery{
    width: 100%;
}
.btn {
    cursor: pointer;
}
#advancedSearch {
    display: none;
}
.search {
    width: 100%;
    margin-bottom: 5px !important;
}

.advSearch {
    width: 100% !important;
}

footer {
    position:fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    max-width: 1200px;
}
.bookContainer {
    overflow-y: scroll;
    height: 75%;
}

#resultsList li {
    white-space: nowrap;
}

.bookLink {
    width: 100%;
    text-align: center;
    white-space: normal !important;
    margin: 5px;
}
.bookLink:hover {
    background-color: dodgerblue;
}